<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книга не найдена</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <a href="/">Школьный проект</a>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Coat_of_Arms_of_Omsk_Oblast.svg" alt="Логотип школы" draggable="false" class="logo">
    </div>
    <div class="container">
        <div class="sad-emoji">:(</div>
        <h1>Данного учебника нету</h1>
        <a href="/" class="button">Вернуться на главную</a>
    </div>
</body>
</html>
